@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Lato");

.header {
  z-index: 1;
  width: 100%;
  background-color: #006892;
  white-space: nowrap;
}

.header .logo {
  font-family: Lato;
  color: #ffffff;
  font-size: 30px;
  font-style: italic;
  text-align: left;
  font-weight: bold;
  width: 300px;
}

.header .logoImage {
  width: 30px;
  height: 30px;
}

.header .searchInput {
  width: 100%;
  height: 67px;
}

.header .selectpin {
  color: #ffffff;
  text-decoration-color: #ffffff;
}

.header .login {
  width: 150px;
  color: #ffffff;
  text-decoration-color: #ffffff;
}
.header .login .login-button {
  color: #ffffff;
  text-decoration-color: #ffffff;
}

.header .cart {
  color: #ffffff;
  text-decoration-color: #ffffff;
  width: 80px;
  font-size: 20px;
  padding-top: 2%;
}

.header .globe {
  color: #ffffff;
  text-decoration-color: #ffffff;
  width: 50px;
  font-size: 20px;
}
.globemenu {
  color: #111111;
}
.left {
  text-align: left;
}
